# Ignore Node.js backend dependencies
backend/node_modules/
backend/.env

# Ignore Flutter build files and dependencies
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/flutter_assets/
frontend/ios/
frontend/android/

# Ignore Visual Studio Code files
.vscode/

# Ignore system files
.DS_Store
Thumbs.db
